# Large data files
hmda_processed_2018_2023.csv
*.csv

# Except these data files
!fred_yearly_2018_2023.csv
!inequality_metrics_2018_2023.csv
!county_data_2018_2023.csv
!county_data_2023.csv
!MORTGAGE30US.csv
!UNRATE.csv
!hmda_tract_2018.csv
!hmda_tract_2019.csv
!hmda_tract_2020.csv
!hmda_tract_2021.csv
!hmda_tract_2022.csv
!hmda_tract_2023.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.vscode/
.idea/

